<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hummingbird.WinFormsClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hummingbird.WinFormsClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Hummingbird.WinFormsClient.Properties.Settings>
            <setting name="CurrentUserID" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
        </Hummingbird.WinFormsClient.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Hummingbird.WinFormsClient.Properties.Settings>
            <setting name="PrimaryColor" serializeAs="String">
                <value>1, 169, 244</value>
            </setting>
            <setting name="SecondaryColor" serializeAs="String">
                <value>250, 250, 250</value>
            </setting>
            <setting name="PrimaryColorLight" serializeAs="String">
                <value>103, 218, 255</value>
            </setting>
            <setting name="PrimaryColorDark" serializeAs="String">
                <value>0, 122, 193</value>
            </setting>
            <setting name="SecondaryColorLight" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SecondaryColorDark" serializeAs="String">
                <value>199, 199, 199</value>
            </setting>
            <setting name="WarnColor" serializeAs="String">
                <value>255, 138, 128</value>
            </setting>
            <setting name="WarnColorDark" serializeAs="String">
                <value>200, 90, 84</value>
            </setting>
            <setting name="StartFormFont" serializeAs="String">
                <value>Segoe UI, 18pt</value>
            </setting>
        </Hummingbird.WinFormsClient.Properties.Settings>
    </applicationSettings>
</configuration>